---
---

@import "{{ site.theme }}";
ul.nav li a {
	margin: 0px; 
	display: block; 
	width: 100%; 
	height: 100%; 
}

ul.social {
	display: flex;
	position: relative;
	left: -0.6em;
}

ul.social li {
	width: 1.2em;
	display: inline-flex;
}

img.logo {
	width: 100%;
	padding: 0;
	margin: 0;
	border: none;
}